<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.1" package="fi.jarkkos.thesisbnechmarking.xamarin" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="Thesis Xamarin" android:icon="@mipmap/icon"></application>
</manifest>